#include <windows.h>
#include "resource.h"

IDD_OPTIONS_DIALOG DIALOGEX 0, 0, 240, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "金价设置"
FONT 9, "Microsoft YaHei UI", 400, 0, 1
BEGIN
    LTEXT           "刷新间隔(秒):", -1, 10, 14, 100, 12
    COMBOBOX        IDC_REFRESH_INTERVAL, 130, 12, 90, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "美元/人民币汇率:", -1, 10, 44, 100, 12
    EDITTEXT        IDC_EXCHANGE_RATE, 130, 42, 90, 14, ES_AUTOHSCROLL
    CONTROL         "显示涨跌", IDC_SHOW_CHANGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 70, 80, 14
    DEFPUSHBUTTON   "确定", IDOK, 100, 100, 50, 14
    PUSHBUTTON      "取消", IDCANCEL, 165, 100, 50, 14
END
